<!DOCTYPE html>
<html>
<head>
	<title>Barolo</title>
	<link rel="stylesheet" type="text/css" href="../css/barolo.css">
</head>
<body>

		<h1>Barolo</h1>
		<h3> <a href="../index.html" style="color: #829356"> Home page </a> </h3>
		<h3> <a href="sancerre.html" style="color: #829356"> Sancerre </a> </h3>
		<h3> <a href="rioja.html" style="color: #829356"> Rioja </a> </h3>
		<h3> <a href="riesling.html" style="color: #829356"> Riesling </a> </h3>
	
		<p><div class="main-content">
  <p>
  <img src="../images/barolo.jpg" alt="Barolo">
Barolo is a red wine produced in the Piedmont region of Italy.The wines are made from Nebbiolo, a small, thin skinned red grape varietal generally high in acid and tannins. In Piedmont, Nebbiolo is one of the first varietals to undergo budbreak and last to be picked, with harvest generally taking place in late October. Barolo wines must be solely composed of Nebbiolo, no exceptions. 
	<h2>TASTING NOTES</h2>
	<ul>
		<li>Body: Medium to Full</li>
		<li>Acidity: Medium</li>
		<li>Fruit: Medium to Full</li>
		<li>Taste: Bright cherry and tobacco</li>
  </p>
   <h2>INTERESTING FACTS</h2>
   <ul>
   	<li>The Wine Of Kings: Perhaps the most impressive distinction that Barolo holds over most other Italian red wines is how it has impressed royalty over the years. In particular, Barolo was an enormous favourite of King Albert of Savoy, who is reputed to have purchased the Verduno Castle solely because it housed General Staglieno, who has a reputation for creating some of the best Barolos of the era.</li>
   	<li>A Cold Therapy:  Barolo has actually historically been used to combat that most common of winter afflictions – the cold. Best of all, there is some evidence to show that it actually works too. </li>
   	<li>It Was Perfected in the 1800s: Barolo has a reputation for being one of the oldest wines in the world and the Nebbiolo vines have been cultivated and used to create the drink for hundreds of years. However, it was not until the 1800s that Barolo became the wine that we know it to be today. Much of the credit for this lies with the Count of Cavour, who may be better-known to you as the person behind the Italian Unification. </li>
</div>
</p>				
</body>
</html>