<!DOCTYPE html>
<html>
<head>
	<title>Riesling</title>
	<link rel="stylesheet" type="text/css" href="../css/riesling.css">
</head>
<body>

		<h1>Riesling</h1>
		<h3> <a href="../index.html" style="color: #829356"> Home page </a> </h3>
		<h3> <a href="barolo.html" style="color: #829356"> Barolo </a> </h3>
		<h3> <a href="rioja.html" style="color: #829356"> Rioja </a> </h3>
		<h3> <a href="rioja.html" style="color: #829356"> Rioja </a> </h3>
	
		<p><div class="main-content">
  <p>
  <img src="../images/riesling.jpg" alt="riesling">
The text of the paragraph goes here. In this example, we have an image of a headshot photo, so this text would likely be about the person whom the headshot is for.
<h2>TASTING NOTES</h2>
	<ul>
		<li>Body: Light to Medium</li>
		<li>Acidity: Medium to High</li>
		<li>Fruit: Light</li>
		<li>Taste: Residual sweetness and crisp minerality</li> 
  </p>
  <h2>INTERESTING FACTS</h2>
  <ul>
  	<li>A white grape originating in Germany’s Rhineland, Riesling’s origins date back to 1435, when a German count bought six wine vines – making it the first documented varietal sale.</li>
  	<li>Considered one of the very best food-pairing wines, Riesling goes with a variety of dishes depending upon the level of sweetness and acidity.  It’s also famous for cooling off the palate during a spicy meal.</li>
  	<li>The characteristics of quality Riesling are reminiscent of peaches or, when young, apples. It has a unique acidity, minerality, and fruit flavor with aromas of wet stones, smoke or even petroleum (a highly prized note in aged Riesling).</li>
  	<li>Riesling is especially well-known for its ability to show a sense of place. Many areas in the old and new world have the climate and soil capable of producing complex Rieslings – like Austria, northern Italy, Australia, New Zealand, Canada, South Africa, Finger Lakes, Washington State and Temecula, California.</li>
  </ul>
</div>
</p>				
</body>
</html>