<!DOCTYPE html>
<html>
<head>
	<title>Rioja</title>
	<link rel="stylesheet" type="text/css" href="../css/rioja.css">
</head>
<body>

		<h1>Rioja</h1>
		<h3> <a href="../index.html" style="color: #829356"> Home page </a> </h3>
		<h3> <a href="barolo.html" style="color: #829356"> Barolo </a> </h3>
		<h3> <a href="sanscerre.html" style="color: #829356"> Sanscerre </a> </h3>
		<h3> <a href="riesling.html" style="color: #829356"> Riesling </a> </h3>
	
		<p><div class="main-content">
  <p>
  <img src="../images/rioja2.png" alt="Rioja">
The text of the paragraph goes here. In this example, we have an image of a headshot photo, so this text would likely be about the person whom the headshot is for.
<h2>TASTING NOTES</h2>
	<ul>
		<li>Body: Medium to Full</li>
		<li>Acidity: Medium</li>
		<li>Fruit: Medium to Full</li>
		<li>Taste: Dark red fruits with baking spices</li> 
  </p>
  <h2>INTERESTING FACTS</h2>
  <ul>
  	<li>Tempranillo Rules Most Riojas are a blend of several grapes, but the single most important is Tempranillo. An early-ripening variety, Tempranillo is often grown alongside blending partners Garnacha (Grenache), Mazuelo (Carignan) and Graciano, which is prized for its aromatics.</li>
  	<li> Although there is a trend toward single-vineyard wines, most Riojas utilize grapes from three subdistricts: Rioja Alta, Rioja Alavesa and Rioja Baja. Rioja Alta, at the high, western end of the Rioja valley, produces wines renowned for their elegance and structure; Alavesa, located north of the Ebro river, is known for producing deeper-colored, more powerful wines; Baja, at the valley's southern end, offers wines that generally have a higher proportion of Garnacha for body and richness.</li>
  	<li>Most Riojas are defined by the way they are aged. Wines labeled Crianza must be aged at least two years, one of them in barrel. Reserva wines must be aged for a minimum of three years, one of them in barrel. Gran Reserva wines must be aged at least five years, with two of them spent in barrel.</li>
  </ul>
</div>
</p>				
</body>
</html>