<!DOCTYPE html>
<html>
<head>
	<title>Sancerre</title>
	<link rel="stylesheet" type="text/css" href="../css/sancerre.css">
</head>
<body>

		<h1>Sanscerre</h1>
		<h3> <a href="../index.html" style="color: #829356"> Home page </a> </h3>
		<h3> <a href="barolo.html" style="color: #829356"> Barolo </a> </h3>
		<h3> <a href="rioja.html" style="color: #829356"> Rioja </a> </h3>
		<h3> <a href="riesling.html" style="color: #829356"> Riesling </a> </h3>
	
		<p><div class="main-content">
  <p>
  <img src="../images/sanscerre.jpg" alt="sanscerre">
Sancerre is the most recognizable appellation for French Sauvignon Blanc in the Loire Valley. The region’s rolling limestone hills and semi-continental climate deliver richly textured Sauvignon Blanc wines with ripe gooseberry aromas, bracing acidity, and flinty-smoke flavors.
<h2>TASTING NOTES</h2>
	<ul>
		<li>Body: Light to Medium</li>
		<li>Acidity: Medium to High</li>
		<li>Fruit: Medium to Full</li>
		<li>Taste: Bright minerality with notes of limestone and tropical fruit</li>
  </p>
  <h2>INTERESTING FACTS</h2>
  <ul>
  	<li> first it's necessary to talk about phylloxera. The aphid epidemic hit Sancerre in the late 19th century, and vintners fought it valiantly for several decades to no avail. The only solution was to replant with a different grape: Sauvignon Blanc, used in the whites we love today. To ensure the health of the newly introduced grapes, vines were grafted onto healthy American rootstock. The new Sancerre received AOC status in 1936.</li>
  	<li>World War II inadvertently helped put Sancerre on the map. After Parisian weekenders could no longer visit the beaches in Normandy, more of them began coming to Sancerre instead, where they discovered the region's appealing wines.</li>
  	<li>Today, wine and gastronomic tourism are essential to Sancerre's economy. If you love the wines, consider visiting this extremely charming part of France.</li>
  </ul>
</div>
</p>				
</body>
</html>